body {
    min-height: 100vh;
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}

.content {
    flex:1;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 256px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

.hero, .header {
    background-color: #1F2937;
    color: #F9FAF8;
}

.hero {
    display: flex;
    padding: 48px 256px;
}

h1 {
    margin:0;
    font-size: 48px;
}